# Ignore virtual environments
venv/
env/

# Python cache and logs
__pycache__/
*.py[cod]
*.log

# Django specific
*.sqlite3
db.sqlite3
*.pot
*.pyc

# VS Code settings (if you're using it)
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Env variables
.env
# Local Netlify folder
.netlify
